{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cadastro_realizado.css' %}"> <!-- Link para o arquivo CSS -->
    <title>Cadastro Realizado Com Sucesso</title>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="form-image">
            <h1>Cadastro Realizado Com Sucesso</h1>
            
            <div class="info-box">
                <p>Obrigado por se cadastrar! Agora você pode acessar sua conta e começar a explorar nossos serviços. Se tiver alguma dúvida, entre em contato com nosso suporte.</p>
            </div>
            
            <a href="{% url 'login' %}">
                <button type="button">Ir para o Login</button>
            </a>
        </div>
    </div>
</body>
</html>
