{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anuncie seu Imóvel</title>
    <link rel="stylesheet" href="{% static 'css/imovel.css' %}">
</head>
<body>

    <div class="form-container">
        <h2>Anuncie seu Imóvel</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="text" name="nome" placeholder="Nome Completo" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="telefone" placeholder="Telefone" required>
            <input type="text" name="endereco" id="endereco" placeholder="Ex: Bairro: Nova esperança, Rua: Dom Pedro, Número da casa: 05" required>
            <textarea name="descricao" id="descricao"  placeholder="Descrição do Imovel"></textarea>

            <div class="upload-container">
                <input type="file" name="my_file">
                <div class="upload-preview" id="upload-preview"></div>
            </div>

            <button type="submit" value="Enviar">Enviar Anúncio</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/imovel.js' %}"></script>

</body>
</html>
